paginator {
    margin: 10px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid gray;
}

.selectedPage  {
    color: black;
    background-color: lightgray;
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
}


.pageNumber:hover {
    height: 34px;
    width: 100px;
    cursor: pointer;
}




