.descriptionBlock {
    padding: 10px;
}

.status {
    position: absolute;
    font-weight: bold;
    top: 75px;
    left: 450px;
}

.infoBlock{
    position: absolute;
    top: 100px;
    left: 450px;
}
.infoForm{
    position: absolute;
    top: 120px;
    left: 450px;
}


.mainPhoto {
    max-width: 200px;
}

.contact {
    padding-left: 10px;
}

.uploadPhoto {
    position: relative;
    opacity: 50;
    right: 200px;
}

.uploadPhoto:hover {
    cursor: pointer;
}
